/* Set a background color for the header */
.header {
    background-color: #82b74b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

body{
    background-color: #82b74b;
    color: #fff;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

article h1 {
    text-align:left;
}

article iframe {
  max-width: 100%;
  max-height: 100%;
}

/* Set a background color for the footer */
.footer {
  background-color: #343a40;
  color: white;
  padding: 20px;
}

.footer a {
    padding: 0.2px;
}

.footer p {
    text-align: right;
}

/* Add padding to the top of the content section */
.container {
    padding-top: 20px;
}

/* Add margin to the bottom of the content section */
.container {
    margin-bottom: 20px;
}